SIMS/Service References/PASSService/WCFServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPASSSite">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PASSSite" nillable="true" type="tns:PASSSite" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPASSSite" nillable="true" type="tns:ArrayOfPASSSite" />
  <xs:complexType name="PASSSite">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgencyCd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AntennaHeight" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AssignedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AssignedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DBNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DCPID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeployDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DistrictCd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NWISHost" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NWISWebSiteID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OtherSites" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PASSSite" nillable="true" type="tns:PASSSite" />
</xs:schema>