SIMS/Service References/SIMSService/WCFServices32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://igskiacwvmgs012.gs.doi.net/Services/WCFServices.SIMSService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServices" />
  <xs:element name="GetAllSites">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSitesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFServices" minOccurs="0" name="GetAllSitesResult" nillable="true" type="q1:ArrayOfSite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteByNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="site_no" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteByNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFServices" minOccurs="0" name="GetSiteByNumberResult" nillable="true" type="q2:ArrayOfSite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetElementsBySite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="site_no" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetElementsBySiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFServices" minOccurs="0" name="GetElementsBySiteResult" nillable="true" type="q3:ArrayOfElement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetElementsBySiteAndReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="site_no" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="agency_cd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="report_tp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetElementsBySiteAndReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFServices" minOccurs="0" name="GetElementsBySiteAndReportResult" nillable="true" type="q4:ArrayOfElement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>