SIMS2017/Service References/SIMSService/SIMSService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SIMSService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://igskiacwvmi01.gs.doi.net/Services/WCFServices.SIMSService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://igskiacwvmi01.gs.doi.net/Services/WCFServices.SIMSService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://igskiacwvmi01.gs.doi.net/Services/WCFServices.SIMSService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISIMSService_GetAllSites_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSites" />
  </wsdl:message>
  <wsdl:message name="ISIMSService_GetAllSites_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSitesResponse" />
  </wsdl:message>
  <wsdl:message name="ISIMSService_GetSiteByNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSiteByNumber" />
  </wsdl:message>
  <wsdl:message name="ISIMSService_GetSiteByNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSiteByNumberResponse" />
  </wsdl:message>
  <wsdl:message name="ISIMSService_GetElementsBySite_InputMessage">
    <wsdl:part name="parameters" element="tns:GetElementsBySite" />
  </wsdl:message>
  <wsdl:message name="ISIMSService_GetElementsBySite_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetElementsBySiteResponse" />
  </wsdl:message>
  <wsdl:message name="ISIMSService_GetElementsBySiteAndReport_InputMessage">
    <wsdl:part name="parameters" element="tns:GetElementsBySiteAndReport" />
  </wsdl:message>
  <wsdl:message name="ISIMSService_GetElementsBySiteAndReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetElementsBySiteAndReportResponse" />
  </wsdl:message>
  <wsdl:portType name="ISIMSService">
    <wsdl:operation name="GetAllSites">
      <wsdl:input wsaw:Action="http://tempuri.org/ISIMSService/GetAllSites" message="tns:ISIMSService_GetAllSites_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISIMSService/GetAllSitesResponse" message="tns:ISIMSService_GetAllSites_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSiteByNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/ISIMSService/GetSiteByNumber" message="tns:ISIMSService_GetSiteByNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISIMSService/GetSiteByNumberResponse" message="tns:ISIMSService_GetSiteByNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetElementsBySite">
      <wsdl:input wsaw:Action="http://tempuri.org/ISIMSService/GetElementsBySite" message="tns:ISIMSService_GetElementsBySite_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISIMSService/GetElementsBySiteResponse" message="tns:ISIMSService_GetElementsBySite_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetElementsBySiteAndReport">
      <wsdl:input wsaw:Action="http://tempuri.org/ISIMSService/GetElementsBySiteAndReport" message="tns:ISIMSService_GetElementsBySiteAndReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISIMSService/GetElementsBySiteAndReportResponse" message="tns:ISIMSService_GetElementsBySiteAndReport_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISIMSService" type="tns:ISIMSService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllSites">
      <soap:operation soapAction="http://tempuri.org/ISIMSService/GetAllSites" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSiteByNumber">
      <soap:operation soapAction="http://tempuri.org/ISIMSService/GetSiteByNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetElementsBySite">
      <soap:operation soapAction="http://tempuri.org/ISIMSService/GetElementsBySite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetElementsBySiteAndReport">
      <soap:operation soapAction="http://tempuri.org/ISIMSService/GetElementsBySiteAndReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SIMSService">
    <wsdl:port name="BasicHttpBinding_ISIMSService" binding="tns:BasicHttpBinding_ISIMSService">
      <soap:address location="https://sims.water.usgs.gov/Services/WCFServices.SIMSService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>